.square {
  margin: 3px;
  border-radius: 10px;
  background-color: rgb(238, 183, 66);
  cursor: pointer;
}

.start {
  composes: square;
  background-image: url("../img/start.svg");
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}
